.directory-search {
    position: relative;
    display: flex;
}

.directory-search input {
	flex: 1;
    height: 40px;
    padding-left: 2%;
    border: none;
}

.directory-search button {
	background: #e6ba05;
	border: none;

}

.directory-search button img {
	width: 20px;
	height: 20px;
	padding: 0 10px;
}

.directory-results {
	margin-top: 30px;
}

.directory--no-results {
	text-align: center;
	color: white;
    max-width: 630px;
    margin: 0 auto;
}

.directory--no-results .share {
	margin-top: 20px;
}

.directory-search .loading-spinner {
	position: absolute;
	top: -2px;
	right: 10px;
}

.directory-search .loading-spinner--wrapper {
	margin: 0;
}

.directory-search .lds-ellipsis {
	width: 46px;
	height: 46px;
	left: -10px;
}

.directory-search .lds-ellipsis div {
	width: 8px;
	height: 8px;
	top: 20px;
	background: #555;
}

@media only screen and (max-width: 480px) {
	.channel-directory {
		margin-top: 20px;
	}
}