#channel-header {
	min-height: 100px;
    background: #DDD;
    display: flex;
    align-items: center;
	transition: all 0.2s ease;
	position: relative;
	z-index: 10;
}

#channel-header.condensed {
	position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    min-height: 60px;
    height: 60px;
    box-shadow: 0px 2px;
    transition: all 0.2s ease;
}

.channel-header--stub {
	display: block;
	height: 100px;
}

.channel-fav {
	display: flex;
	align-items: center;
    transition: all 0.2s ease;
    width: 35px;
    margin-right: 5px;
    padding: 0px 10px;
    cursor: pointer;
    height: 100px;
}

.channel-fav:hover {
	background: #CCC;
}

.channel-buttons {
	margin-left: auto;
}

.condensed .channel-fav {
	transition: all 0.2s ease;
	width: 20px;
	height: 60px;
	padding: 0px 5px;
}

.channel-fav img {
	width: 35px;
	transition: all 0.2s ease;
}

.condensed .channel-fav img {
	width: 20px;
	transition: all 0.2s ease;
}

.channel-logo img {
	width: 85px;
	transition: all 0.2s ease;
}

.channel-logo {
	display: flex;
	align-items: center;
	transition: all 0.5s ease;
	margin: 0px 20px 0px 0px;
}

.condensed .channel-logo img {
	width: 55px;
	height: 55px;
	transition: all 0.2s ease;
}

.channel-name {
	display: flex;
	align-items: center;
	margin-bottom: 5px
}

.channel-name span {
	font-size: 20px;
	margin-right: 5px;
}

.channel-name a {
	align-items: center;
	display: flex;
}

.channel-name img {
	width: 18px;
	height: 18px;
}

.channel-name .ranking {
	background: none;
    width: 25px;
    margin-left: 5px;
    height: 24px;
}

.join-channel {
	margin-right: 15px;
    padding: 10px 20px;
    border: 1px solid #666;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
    background: #425583;
    color: white;
    box-shadow: 0px 1px 2px black;
}

.channel-achievement-progress {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-right: 10px;
	flex: 1;
	align-items: center;

}

.progress-bar--label {
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #000;
}

.progress-bar--visual {
	display: flex;
	justify-content: flex-end;
	margin-right: 10px;
	flex: 1;
	height: 20px;
	align-items: center;
	width: 100%;
}

.achievements-container {
	max-width: 800px;
	margin: 15px auto 0;
}

.channel-page--banned .achievements-container .achievement {
	filter: blur(6px);
}

.progress-bar-wrapper {
  width: 85%;
  background-color: #FFF;
  height: 20px;
  border-radius: 9px;
  border: 1px solid #666;
  margin: 0px 40px;
}

.progress-percentage {
	position: absolute;
}

.progress-bar {
  height: 20px;
  background-color: green;
  border-radius: 6px
}

.channel-page--banned .progress-bar {
	background-color: grey;
}

.no-achievements {
	font-size: 24px;
    color: white;
    text-align: center;
    text-shadow: 1px 1px black;
    margin-top: 40px;
}

.channel-progress {
	flex: 1;
	transition: all 0.2s ease;
}

.channel-progress--completed .progress-bar {
	background-color: #ecdc19;
	border-radius: 7px;
}

.channel-page--sm .channel-progress {
	position: absolute;
    width: 100%;
    height: 60px;
    top: -4px;
    background: #DDD;
    z-index: 1;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid;
    padding-bottom: 5px;
}

.channel-page--sm .channel-progress.channel-progress--condensed {
	position: fixed;
}

.channel-page--sm .progress-bar--label {
	margin-top: 5px;
}

.channel-page--sm .progress-bar-wrapper,
.channel-page--sm .progress-bar {
	height: 20px;
}

.channel-page--sm .channel-progress.channel-progress--visible {
	top: 60px;
	transition: all 0.2s ease;
}

.channel-page--sm .condensed + .channel-progress.channel-progress--visible {
	top: 120px;
	transition: all 0.2s ease;
}

.channel-fav-placeholder + .channel-logo {
	margin-left: 10px;
	transition: all 0.2s ease;
}

.join-channel.joining {
	padding: 3px 49px;
}

.join-channel.joined {
	background: green;
	border-color: #BBB;
	transition: all 0.2s ease;
	text-align: center;
	opacity: 1;
}

.join-channel.joined.fade {
	opacity: 0;
}

.join-channel.joined img {
	width: 26px;
	height: 26px;
}

.join-channel.joining .loading-spinner--wrapper {
	margin-top: 0px;
}

.join-channel.joining .lds-ellipsis {
	left: -14px;
	top: -8px;
	width: 30px;
	height: 30px;
}

.join-channel.joining .lds-ellipsis div {
	width: 8px;
	height: 8px;
	top: 20px;
}

.channel-page--bannedOverlay {
	width: 100%;
    height: 100%;
    display: block;
    top: 0;
    position: absolute;
    left: 0;
    background: #00000099;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.channel-page--bannedOverlay .bannedContent {
    padding-top: 175px;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.channel-page--bannedOverlay h3 {
	font-size: 26px;
	margin: 0 25px;
	text-shadow: 2px 2px 3px black;
	color: white;
}

@media only screen and (max-width: 480px) {
	#channel-header {
	    width: 100%;
	    height: 60px;
	    min-height: inherit;
	    box-shadow: 0px 2px;
	    transition: all 0.2s ease;
	}

	#channel-header:after {
		content: "\2024 \2024 \2024 \2024 \2024";
	    bottom: 3px;
	    position: absolute;
	    width: 70%;
    	text-align: center;
    	margin: 0 15%;
    	cursor: pointer;
	}

	.long-description { 
		display: none;
	}

	.channel-header--stub {
		height: 60px;
	}

	.channel-fav,
	.condensed .channel-fav {
		transition: all 0.2s ease;
		width: 20px;
		height: 60px;
		padding: 0px 5px;
	}

	.channel-fav img,
	.condensed .channel-fav img {
		width: 20px;
		transition: all 0.2s ease;
	}

	.channel-fav-placeholder + .channel-logo {
		margin-left: 5px;
		transition: all 0.2s ease;
	}

	.channel-info {
		display: flex;
		flex: 1;
		transition: all 0.2s ease;
	}

	.channel-header.not-joined .channel-info {
		margin-right: 86px;
	}

	.channel-name {
		flex: 1;
		transition: all 0.2s ease;
	}

	.channel-links {
		margin-right: 20px;
		transition: all 0.2s ease;
	}

	.channel-logo {
		margin: 0 10px 0 0;
	}

	.channel-logo img {
		width: 55px;
		height: 55px;
		transition: all 0.2s ease;
	}

	.channel-name span {
	    font-size: 18px;
	    margin-right: 8px;
	}

	.channel-buttons {
		position: absolute;
		right: 0;
	}

	.achievements-container .achievement-logo {
		top: -5px;
	}

	.achievements-container .achievement-logo img {
		width: 65px;
		height: 65px;
	}

	.achievements-container .achievement-title {
		margin-top: -5px;
		font-size: 20px;
	}

	.join-channel {
		width: 29px;
		display: block;
	}

	.join-channel.joining {
		padding: 3px 20px;
	}

	.join-channel.joined {
		background: green;
		border-color: #BBB;
		transition: all 0.2s ease;
		text-align: center;
		opacity: 1;
	}

	.join-channel.joined.fade {
		opacity: 0;
	}

	.join-channel.joined img {
		width: 26px;
		height: 26px;
	}

	.join-channel.joining .loading-spinner--wrapper {
		margin-top: 0px;
	}

	.join-channel.joining .lds-ellipsis {
		left: -14px;
		top: -8px;
		width: 30px;
		height: 30px;
	}

	.join-channel.joining .lds-ellipsis div {
		width: 8px;
		height: 8px;
		top: 20px;
	}
}