.howTo {
	color: white;
	font-size: 18px;
}

.howTo h2 {
	font-size: 33px;
	font-weight: bold;
}

.howTo img {
	border: 1px dashed;
    margin: 30px auto 0px;
    box-shadow: 0px 0px 5px black;
    width: 98%;
}

.howTo ul {
	margin: 15px 0px;
}

.step-header {
	font-size: 26px;
	margin-top: 30px;
	font-weight: bold;
}

.howTo .gold {
	color: #ecdc19;
	font-weight: bold;
}