.landing-page {
	width: 100%;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.twitch-login-button {
	padding: 10px 20px;
    background: #6441a4;
    color: white;
    font-size: 18px;
    border-width: 0px;
    cursor: pointer;
    text-decoration: none;
    height: 22px;
}

.button-container {
	margin-top: 30px;
}

.login-button {
	position: relative;
}

.login-button-icon img {
	position: absolute;
	left: 15px;
	width: 20px;
	top: 10px;
}

.login-button-text {
	margin-left: 35px;
}

.site-logo {
    width: 150px;
    height: 100px;
}

.logo {
    width: 85%;
    margin-bottom: 30px;
}

.landing-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    max-width: 1060px;
    margin: 0 auto;
}

.landing-page h1 {
    font-size: 58px;
}

.landing-page h2 {
    font-size: 36px;
}

.section-wrapper {
    background-color: rgba(0,0,0,0.5);
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-wrapper.main {

    background: #1c2741;
    box-shadow: 0px -1px 5px #000
}

.section-wrapper.section-wrapper--full {
    text-shadow: 2px 2px 3px #000;
    text-align: center;
}

.section-wrapper.section-wrapper--alt {
    background-color: rgba(0,0,0,0.6);
}

.section-content {
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-wrapper--full .section-content {
    display: block;
}

.section-wrapper--full p {
    font-size: 17px;
    text-shadow: 1px 1px #000;
}

.section-content > h2,
.section-content > div {
    max-width: 48%;
}

.section-content .yt-container {
    max-width: 100%
}

.section-content > h2 {
    flex: 1;
}

.main .section-content > h2,
.main .section-content > div,
.section-wrapper--full .section-content > h2 {
    max-width: 100%;
}

.section-wrapper.section-wrapper--login {
    padding: 30px 0 40px;
}

.section-wrapper--login .section-content {
    flex-direction: column;
}

.section-wrapper--login p {
    font-size: 24px;
}

.section-wrapper.main {
    padding:40px 20px;
}

.main .section-content {
    flex-direction: column;
}

.landing-page .footer {
    margin-top: 0;
}

.landing-page .section-gfx {
    max-width: 500px;
}

.landing-page .section-gfx img {
    max-width: 500px;
}

.cookie-consent {
    position: fixed;
    bottom: 0;
    background: #1c2741;
    width: 96%;
    padding: 15px 2%;
    font-size: 18px;
    display: flex;
    text-align: left;
    align-items: center;
}

.cookie-consent .verbage {
    flex: 1;
}

.cookie-consent a,
.cookie-consent a:visited {
    color: #ecdc19;
}

.cookie-consent .accept {
    border-radius: 6px;
    padding: 5px;
    text-decoration: none;
    transition: all 0.2s ease;
}

.cookie-consent .accept:hover {
    background-color: #37425d;
    transition: all 0.2s ease;
}

.yt-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.yt-container iframe,
.yt-container object,
.yt-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.yt-wrapper {
    margin: 0 auto;
}

@media only screen and (max-width: 480px) {
    .logo {
        width: 90%;
    }

    .landing-page h2 {
        margin-left: 0;
        font-size:30px;
    }

    .landing-page p {
        font-size: 16px;
    }

    .landing-page .section-gfx img {
        max-width: inherit;
        width: 100%;
    }

    .section-content {
        flex-direction: column;
    }

    .section-content > h2,
    .section-content > div {
        max-width: 98%;
    }

    .section-wrapper.section-wrapper--login {
        padding: 30px 20px 40px;
    }
}

@media only screen and (max-width: 640px) {
    .landing-page .section-gfx img {
        max-width: inherit;
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .section-content .yt-wrapper {
        max-width: 70%;
    }
}