.manage-container {
	max-width: 800px;
	margin: 0 auto;
	color: white;
}

.integration {
	border-radius: 8px;
    box-shadow: 1px 1px 2px black;
    margin-bottom: 20px;
    color: black;
}

.integration.not-linked {
	box-shadow: none;
	border: 3px dashed white;
	background: none;
	padding: 30px;
}

.integration--twitch {
	background: #DDD;
}

.integration--patreon {
	background: #DDD;
}

.integration-header,
.integration-content {
	padding: 10px 20px;
}

.integration-header {
	border-radius: 6px 6px 0px 0px;
	display: flex;
	color: white;
}

.integration--twitch .integration-header {
	background: #6441a4;
}

.integration--patreon .integration-header {
	background: rgb(232, 91, 70);
}

.integration-header h3 {
	margin: 0 0 0 20px;
	align-self: center;
}

.integration-header img {
	width: 28px;
	height: 28px;
}

.integration-settings {
	flex: 1;
    text-align: right;
    margin-right: 10px;
}

.integration-sync {
	width: 30px;
	display: flex;
    justify-content: flex-end;
    align-items: center;
}

.integration-sync a {
	cursor: pointer;
}

.integration-content {
	display:flex;
}

.integration--patreon .integration-content {
	color: black;
}

.profile--channels .channel-item {
	color: black;
	cursor: auto;
	padding-right: 0;
}

.profile--channels .channel-item:hover {
	background-color: #DDD;
}

.channelInfo--logo img{
	width: 100px;
	height: 100px;
}

.channelInfo--data {
	margin-left: 30px;
	align-self: center;
}

.channelInfo--name {
	font-size: 28px;
}

.channelInfo--link {
	font-size: 18px;
	font-style: italic;
}

.channel-item--leave {
	height: 100%;
    width: 50px;
    display: flex;
    padding: 0;
    border: 0;
    cursor: pointer;
	transition: all 0.2s ease;
}

.channel-item--leave:hover {
	background-color: #BBB;
	transition: all 0.2s ease;
}

.channel-item--leave img {
	width: 32px;
	margin: 0 auto;
}

/* Tab Styles */
.manage-tabs {
	list-style: none;
	display: flex;
}

.manage-tab {
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
	background: rgba(121, 79, 198, 0);
	transition: all 0.2s ease;
}

.manage-tab.react-tabs__tab--selected {
	background: rgba(121, 79, 198, 1);
	transition: all 0.2s ease;
}

.channelHeader {
	display: flex;
}

.channelHeader img {
	width: 20px;
}

.achievement-search {
	flex: 1;
	align-self: center;
	margin-left: 20px;
}

.achievement-search input {
	width: 98%;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #007d00;
}

input:focus + .slider {
  box-shadow: 0 0 1px #007d00;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Notification Styles */
.notification {
	display: flex;
	align-items: center;
	min-width: 350px;
	border: none;
	background: #00000055;
	height: 80px;
	transition: all 0.3s ease;
	opacity: 1;
	border-left: 8px solid #888;
	cursor: pointer;
}

.notification.notification-hiding {
	opacity: 0;
	transition: all 0.3s ease;
}

.notification.notification-sliding {
	height: 0px;
	transition: all 0.3s ease;
}

.notification-logo {
	width: 80px;
	height: 80px;
}

.notification-logo img {
	width: 80px;
	height: 80px;
	opacity: 0.5;
}

.notification-message {
	flex: 1;
	margin-left: 15px;
}

.notification.new {
	font-weight: 700;
	font-size: 15px;
	border-left: 8px solid #ecdc19;
	background: #00000099;
}

.notification.new .notification-logo img {
	opacity: 1;
}

.notification-date {
	margin: 0 5px;
}

.notification-delete {
	height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 12px;
    cursor: pointer;
	transition: all 0.2s ease;
	width: 25px;
}

.notification-delete:hover {
	background: #425583;
	transition: all 0.2s ease;
}

.notification-delete img {
	width: 25px;
    height: 25px;
    margin-left: 0;
    display: block;
}

.load-more-button {
	display: flex;
	margin-top: 15px;
	position: relative;
	justify-content: center;
}

.load-more-button button {
	margin: 0 auto;
    padding: 10px 20px;
    background: #425583;
    border: none;
    color: white;
	cursor: pointer;
}

.load-more-button.loading button {
	color: transparent;
}

.load-more-button .loading-spinner {
	position: absolute;
	top: 0;
	margin-top: -15px;
}

.load-more-button .loading-spinner--wrapper {
	margin-top: 0;
}

.no-notifications {
	display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: 2em;
    font-weight: bold;
}

.notifications-header {
	display: flex;
	align-items: center;
}

.notifications-header h3 {
	margin-right: 10px;
}

.notifications-header button {
	padding: 8px 10px;
    border: 0;
    color: white;
    background: #425583;
    cursor: pointer;
}

.show-new-notifications {
	border: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #00000022;
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin-bottom: 10px;
    height: 55px;
    text-decoration: underline;
    display: flex;
    cursor: pointer;
    transition: all 0.2s ease;
}

.show-new-notifications:hover {
	background: #42558388;
	transition: all 0.2s ease
}

@media only screen and (max-width: 480px) {
	h2 {
		margin-left: 15px;
	}

	.manage-container {
		padding: 0;
	}

	.manage-tabs {
		justify-content: space-around;
	}

	.react-tabs ul {
		padding: 0;
	}

	.manage-tab {
		padding: 10px 15px;
	}

	.integration .integration-header {
		padding: 10px 15px;
	}

	.integration h3 {
		font-size: 1.1em;
	}

	.notification {
		height: 50px;
		min-width: 0px;
		font-size: 12px;
	}

	.notification-logo,
	.notification-logo img {
		height: 50px;
		width: 50px;
	}

	.notification-date {
		display: none;
	}

	.notification.new {
		font-size: 13px;
	}

	.notification-delete {
		height: 50px;
		padding: 0 8px;
	}

	.notification-delete img {
		height: 20px;
		width: 20px;
		display: block;
	}

	#profile-page.manage-container {
	padding: 0;
}

	#profile-page .manage-tabs {
		overflow-x: scroll;
		padding-left: 50px;
	}

	.notifications-header {
		justify-content: space-between;
    	margin: 0 10px;
	}
}