.verify-wrapper {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    align-items: center;
    padding: 0px 20px;
}

.verify-wrapper p {
	font-size: 18px;
}

.verify-wrapper h2 {
    font-size: 36px;
}

.verify-wrapper a {
	color: #ecdc19;
}

.verify-wrapper .congrats-icon {
	max-width: 300px;
}