.verify-wrapper {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    align-items: center;
    padding: 0px 20px;

}

.verify-wrapper p {
	font-size: 18px;
}

.verify-wrapper h2 {
    font-size: 36px;
}

.verify-wrapper a {
	color: #ecdc19;
}

.verify-wrapper .congrats-icon {
	max-width: 300px;
}

.verify-wrapper {
    max-width: 800px;
    margin: 0 auto;
}

.main .section-content .yt-wrapper {
    max-width: 48%;
    margin: 0 auto;
}

.getting-started {
    width: 100%;
    display: flex;
}

.getting-started--choice {
    border-radius: 5px;
    border: 1px solid #111;
    margin: 10px;
    flex: 1;
    padding: 15px;
    box-shadow: 3px 3px 2px #111;
    background: #425583;
    cursor: pointer;
    transition: all 0.3s ease;
}

.getting-started--choice:hover {
    background: #394562;
    transition: all 0.3s ease;
}

@media only screen and (min-width: 768px) {
    .getting-started {
        width: 70%;
    }
}