#channel-header {
	min-height: 115px;
    background: #DDD;
    display: flex;
    align-items: center;
	transition: all 0.2s ease;
	position: relative;
	z-index: 10;
}

#channel-header.condensed {
	position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    min-height: 60px;
    height: 60px;
    box-shadow: 0px 2px;
    transition: all 0.2s ease;
}

.channel-fav {
	padding: 0 2px;
	min-height: 115px;
	display: block;
	align-items: center;
    transition: all 0.2s ease;
    width: 35px;
}

.channel-buttons {
	margin-left: auto;
}

.condensed .channel-fav {
	min-height: 70px;
	transition: all 0.2s ease;
	width: 5px;
}

.channel-fav img {
	width: 35px;
	transition: all 0.2s ease;
}

.condensed .channel-fav img {
	width: 30px;
	transition: all 0.2s ease;
}

.channel-logo img {
	width: 100px;
	transition: all 0.2s ease;
}

.channel-logo {
	display: flex;
	align-items: center;
	transition: all 0.5s ease;
	margin: 0px 20px;
}

.condensed .channel-logo img {
	width: 55px;
	height: 55px;
	transition: all 0.2s ease;
}

.channel-name {
	display: flex;
}

.channel-name span {
	font-size: 20px;
	margin-right: 5px;
}

.channel-name a {
	align-items: center;
	display: flex;
}

.channel-name img {
	background: white;
}

.channel-name .ranking {
	background: none;
    width: 25px;
    margin-left: 5px;
    height: 24px;
}

.channel-achievement-progress {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-right: 10px;
	flex: 1;
	align-items: center;

}

.progress-bar--label {
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #000;
}

.progress-bar--visual {
	display: flex;
	justify-content: flex-end;
	margin-right: 10px;
	flex: 1;
	height: 20px;
	align-items: center;
	width: 100%;
}

.achievements-container {
	max-width: 800px;
	margin: 15px auto 0;
}

.progress-bar-wrapper {
  width: 85%;
  background-color: #FFF;
  height: 20px;
  border-radius: 9px;
  border: 1px solid #666;
  margin: 0px 40px;
}

.progress-percentage {
	position: absolute;
}

.progress-bar {
  height: 20px;
  background-color: green;
  border-radius: 6px
}

.no-achievements {
	font-size: 24px;
    color: white;
    text-align: center;
    text-shadow: 1px 1px black;
    margin-top: 40px;
}

.channel-progress {
	flex: 1;
}

.channel-page--sm .channel-progress {
	position: absolute;
    width: 100%;
    height: 60px;
    top: 0px;
    background: #DDD;
    z-index: 1;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid;
    padding-bottom: 5px;
}

.channel-page--sm .progress-bar--label {
	margin-top: 5px;
}

.channel-page--sm .progress-bar-wrapper,
.channel-page--sm .progress-bar {
	height: 20px;
}

.channel-page--sm .channel-progress.channel-progress--visible {
	top: 60px;
	transition: all 0.2s ease;
}

.channel-page--sm .condensed + .channel-progress.channel-progress--visible {
	top: 120px;
	transition: all 0.2s ease;
}

@media only screen and (max-width: 480px) {
	#channel-header {
	    width: 100%;
	    height: 60px;
	    min-height: inherit;
	    box-shadow: 0px 2px;
	    transition: all 0.2s ease;
	}

	.channel-fav {
		height: 70px;
		transition: all 0.2s ease;
		width: 5px;
	}

	.channel-fav img {
		width: 30px;
		transition: all 0.2s ease;
	}

	.channel-logo img {
		width: 55px;
		height: 55px;
		transition: all 0.2s ease;
	}

	.achievements-container .achievement-logo img {
		width: 80px;
	}

	.achievements-container .achievement-title {
		margin-top: -5px;
		font-size: 20px;
	}
}