.alert-overlay .section-wrapper {
  padding: 10px 20px;
  user-select: none;
}

.alert-overlay .section-value {
  display: flex;
  align-items: center;
}

.alert-overlay .section-value.column {
  flex-direction: column;
  align-items: flex-start;
}

.alert-overlay .checkbox {
  text-align: left;
}

.alert-overlay #graphic {
  display: none;
}

#alert-textColor {
  cursor: pointer;
}

.alert-overlay .alert-graphic .defaultIcon {
  height: auto;
  width: auto;
  max-width: 250px;
  margin-left: 0;
  padding: 5px;
}

.alert-overlay .alert-graphic .defaultIcon img {
  height: inherit;
  width: inherit;
  max-width: inherit;
}

.alert-overlay .alert-graphic .graphic--blank img {
  width: 50px;
  height: 50px;
  padding: 15px;
}

.alert-graphic .icon-upload {
  position: relative;
}

.alert-graphic .icon-upload:hover .deleteImg {
  opacity: 1;
  transition: all 0.2s ease;
  cursor: pointer;
}

.alert-overlay .alert-graphic .graphic--blank .deleteImg {
  display: none;
  pointer-events: none;
}

.alert-overlay .section-group {
  padding: 20px;
  background: rgba(0,0,0,0.5)
}

.alert-overlay .section-group .section-wrapper {
  padding: 1px 20px;
  background: none;
  margin-left: -10px;
}

.alert-overlay .overlay-url {
  flex-direction: column;
}

.alert-overlay .helpText {
    width: 100%;
    margin-top: 5px;
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
    text-align: left;
}

.alert-overlay input[type="range"] {
  flex: 1;
  margin-right: 10px;
}

.alert-overlay input[type="text"],
.alert-overlay input[type="password"] {
  width: 80%;
  padding: 2%;
}

.alert-overlay select {
  padding: 2%;
  min-width: 200px
}

.alert-overlay #alert-sound {
  margin-right: 10px;
  width: 30%;
}

.alert-overlay .play-sound {
  width: 20px;
}

.alert-overlay .play-sound img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.alert-overlay .chatMessage {
  align-items: flex-start;
  flex-direction: column;
}

/* The slider itself */
.sliderInput {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 10px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.sliderInput:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.sliderInput::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #425583; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 10px;
  border: 2px solid white;
  box-shadow: 0px 0px 5px #000;
}

.sliderInput::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #425583; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 10px;
  border: 2px solid white;
}

.overlay-url--wrapper {
  width: 100%;
}

.overlay-url--wrapper .overlay-url {
  background: none;
  color: white;
  border: 1px solid #425583;
  color:transparent;
  text-shadow: 0px 0px 5px #FFF;
}

.overlay-url--wrapper button {
  padding: 5px 15px;
  height: 36px;
  margin-left: 5px;
  background: #425583;
  border: none;
  color: white;
  cursor: pointer;
}

.full .section-value {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0;
}

.full .section-value button {
    padding: 5px 15px;
    height: 36px;
    margin-left: 5px;
    background: #425583;
    border: none;
    color: white;
    cursor: pointer;
}

.alert-checkbox {
    width: 25px;
    height: 25px;
    margin-left: 0;
}

@media only screen and (max-width: 480px) {
  .overlay-url-section {
    display: none;
  }

  .alert-overlay .section-value {
    width: 100%;
  }

  .section-wrapper.section--inline {
    flex-direction: row;
  }
}