.chooseMember--wrapper h5 {
	text-align: center;
	font-size: 18px;
}

.member-list {
	max-height: 300px;
	overflow-y: scroll;
	margin: 15px 0;
	background: white;
	border: 1px solid white;
}

.member-list .channelMember {
	display: -webkit-flex;
    display: flex;
    width: 100%;
    border: none;
    background: #DDD;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    margin-bottom: 1px;
    font-size: 15px;
    cursor: pointer;
}

.member-list .channelMember .member-info {
	flex: 0;
}

.member-list .channelMember.selected .member-info {
	color: #888;
}

.member-list .channelMember.selected .member-logo {
	opacity: 0.5;
}

.member-list .channelMember--stripe {
	background: #EEE;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.member-list .channelMember.channelMember--selected {
	background: #5a70a7;
    color: white;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.selected-members .channelMember {
	color: white;
    background: #455c96;
    text-align: center;
    margin: 5px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.selected-members .channelMember:hover {
	background: #5a70a7;
}

.chooseMember--award,
.chooseMember--cancel {
	padding: 10px;
	margin-top: 10px;
	background-color: #888;
	border: none;
	color: white;
	font-size: 17px;
	cursor: pointer;
}

.chooseMember--award {
	background-color: #2f4882;
}