.modal-mask {
	position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 100;
    top: 0;
    left: 0;
}

.modal-container {
	position: absolute;
    width: 100%;
    height: 100%;
    z-index: 101;
    top: 0;
    left: 0;
}

.modal {
    position: absolute;
	max-width: 600px;
    background: #DDD;
    padding: 10px 20px;
    min-height: 200px;
    box-shadow: 0px 4px 4px #111;
    border-radius: 2px;
    color: black;
    min-width: 450px;
}

.modal a {
    position: absolute;
    right: 0;
    height: 40px;
    width: 40px;
}

.modal h3 {
    color: black;
    text-align: center;
}

.modal input {
	width: 100%;
    height: 30px;
}

.channel-search {
	margin-bottom: 15px;
}

.modal .channel-item {
	background: white;
}

.modal--hidden {
    display: none;
}

.formGroup {
    display: flex;
    margin-bottom: 20px;
}

.formGroup img {
    align-self: center;
    max-width: 175px;
    max-height: 175px;
}

.formGroup label {
    font-weight: bold;
    font-size: 16px;
    align-items: center;
    align-self: center;
    text-align: right;
    width: 30%;
    margin-right: 10px;
}

.formGroup .textInput {
    font-size: 16px;
    width: 98%;
    padding-left: 2%;
}

.formGroup.checkboxGroup {
    flex-direction: row;
}

.formGroup.checkboxGroup label {
    white-space: nowrap
}

.formGroup.checkboxGroup input {
    height: 20px;
    align-self: flex-start;
}

.currentIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.availableIcons {
    /*overflow-y: scroll;*/
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    padding-left: 15px;
    justify-content: center;
}

.gallery-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    padding: 0;
}

.gallery-wrapper img {
    width: 70px;
    height: 70px;
}

.gallery-wrapper div {
    flex: 1;
}

.iconPreview-group {
    /*Remove when image gallery available*/
    justify-content: center;
}