body {
	background: #222938;
	margin: 0px;
	font-size: 14px;
	font-family: Helvetica;
}

#achievements-container {
	color: white;
	max-width: 800px;
	margin: 0px auto;
	padding-inline-start: 0px;
	padding: 0px 40px 0 20px;
}

.achievement-icon {
	position: absolute;
    left: -40px;
    top: -45px;
}

.achievement-icon img {
	width: 150px;
}

.achievement {
    background: rgba(0,0,0,0.7);
	box-shadow: -2px -2px 4px #666;
	padding: 15px 10px;
	width: 100%;
    position: relative;
    height: 2em;
    margin-bottom: 50px;
    margin-left: 5px;
    display: block;
}

#achievements-header {
	text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.achievement-info {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.achievement-title {
	font-size: 25px;
    margin-top: -10px;
    margin-bottom: 5px;
}

.achievement-cap {
	position: absolute;
    right: -20px;
    top: -10px;
}

.achievement-cap img {
	width: 55px;
}

.help {
	margin-left: 5px;
    width: 16px;
    height: 16px;
    background: url(https://res.cloudinary.com/phirehero/image/upload/v1559843373/help.png) no-repeat;
    cursor: help;
    display: inline-block;
    background-size: 16px 16px;
}

.gold {
	color: #ecdc19;
}

.strong {
	font-weight: bold;
}

.center {
	text-align: center;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 130%;
  left: 60%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip.copied .tooltiptext {
	visibility: visible;
	opacity: 1;
	background: green;
	transition: all 0.4s ease;
}

.tooltip.copied .tooltiptext::after {
	border-color: green transparent transparent transparent;
	transition: all 0.4s ease;
}

@media only screen and (max-width: 480px) {
	
	#achievements-header {
		text-align: center;
	    font-size: 30px;
	    margin-bottom: 40px;
	}

	.achievement-info {
		margin-left: 40px;
	}
}